/* @import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Noto Sans JP', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h2 {
  font-size: 1.5rem;        /* テキストサイズ */
  font-weight: bold;         /* 太さ */
  color: #1f2937;           /* text-gray-800 */
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 4px solid #006400; /* border-green-400 */
  background-color: #e3f7ec;      /* bg-green-100 */
  border-radius: 0.125rem;        /* rounded-sm */
}

.content-wrapper {
    width: 75%;
    margin: 0 auto;              /* 中央寄せ */
    padding: 24px;               /* 内側の余白 */
/* スマホ対応（レスポンシブ） */
    @media (max-width: 768px) {

    width: 90%;
    padding: 16px;
}
}
